/* CSS VARIABLES */
:root {
    --primary: #141414;
    --light: #f3f3f3;
    --gray: #686868;
    --red: #9d040b;
    --wooburn: #7a0309;
  }
  
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("/image/back.svg") center center no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    color: var(--light);
    filter: grayscale(10%);
  }

  