/* CSS VARIABLES */
:root {
  --primary: #000000;
  --light: #f3f3f3;
  --gray: #686868;
  --red: #9d040b;
  --wooburn: #7a0309;
}

/* POUR LE VERT */

/* :root {
  --primary: #000000;
  --light: #f3f3f3;
  --gray: #686868;
  --green: #00a006;
  --grass   
} */

/* POUR LE JAUNE */

/* POUR LE ROSE */

/* POUR LE BLEU */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--light);
  box-sizing: border-box;
  line-height: 1.4;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.error_page {
  background-color: var(--primary) !important;
}

li {
  list-style: none;
}

.background {
  background: url("../image/background/main_background.svg") center center
    no-repeat fixed;
  background-size: cover;
  background-repeat: repeat;
}

.back {
  background-color: var(--primary);
}

/* HEADER */
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  z-index: 2;
  top: 0;
  height: 80px;
  border-bottom: 3px solid var(--red);
}
header::after {
  content: "";
  /* Élément vide */
}

.title {
  font-family: "Bungee Inline", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: var(--light);
  font-weight: bold;
  text-decoration: none solid var(--gray);
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  margin-left: 30px;
  display: flex;
  position: sticky;
}

.title a {
  color: var(--light);
  text-decoration: none;
}

title :visited {
  color: var(--light);
  text-decoration: none;
}

.main-nav {
  display: flex;
  position: absolute;
  left: 290px;
}
.main-nav div ul {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.main-nav div ul a {
  color: var(--light);
  text-decoration: none;
  margin: 10px;
}

.main-nav div ul a:hover {
  color: var(--wooburn);
}

/* Search */

.search_nav {
  display: flex;
  position: absolute;
  border: 3px solid var(--red);
  border-radius: 15px;
  padding: 7px 10px;
  left: calc(100% - 100px);
  transform: translateX(-100%);
}

#search {
  border: none;
  outline: none;
  background: transparent;
  margin-right: 0px;
  color: var(--light);
}

.search-button {
  background-color: var(--red);
  border: none;
  border-radius: 20px;
  color: var(--light);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.search-button:hover {
  background-color: var(--red);
}

.search_phone {
  display: none;
}

.search_phone a img {
  width: 100%;
}

/* Menu burger */

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 350px;
  position: fixed;
  top: 80px;
  right: -370px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0%;
  transition: right 0.5s cubic-bezier(1, 0, 0, 1);
  z-index: 0;
  border: 3px solid var(--red);
  background-color: #000000;
  background-size: cover;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 40px;
  height: 35px;
  background-color: var(--primary);
  position: fixed;
  top: 23px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.line {
  width: 100%;
  height: 4px;
  background-color: var(--red);
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  display: inline-block;
  align-items: center;
  margin-right: 24px;
}

.nav-item {
  list-style: none;
  margin: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--light);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--red);
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.hero img {
  align-items: center;
  max-width: 100px;
  min-width: auto;
  border-radius: 100px;
}

/* Video */

.trailer {
  position: relative;
  z-index: 1;
}

.text-video {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-23%, -60%);
  background: linear-gradient(#9d040bab, #9d040b);
  padding: 12px;
  color: var(--light);
  font-size: 3em;
  font-weight: bold;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

.text-video:hover {
  background-color: var(--primary);
}

.preview {
  margin-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 0;
  user-select: none;
  touch-action: none;
  border-bottom: 3px solid var(--red);
}

/* ERROR 404 */

.error_acceuil {
  left: 74%;
}

/* MAIN CONTAINER */

#watched,
#serie {
  display: block;
  position: relative;
  color: var(--light);
  margin: 10px;
  font-size: 2.5em;
  font-family: "Bungee Inline", sans-serif;
}

.main-container {
  padding-bottom: 0;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

/* box */

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

.box-div {
  flex-basis: calc(16.66% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 1;
  flex-grow: 0; /* Ajouté pour empêcher les éléments de grandir */
}

.box-div img {
  width: 100%;
  height: auto;
  border: 2px solid transparent;
  margin-bottom: 3px;
  border-radius: 8px;
  transition: transform 0.4s cubic-bezier(0.9, 0.9, 0.9, 1);
}

.box-div img:hover {
  border-color: var(--red); /* Change la couleur de la bordure au survol */
  transform: scale(1.05); /* Agrandit légèrement l'image */
}
/* FOOTER */

.footer {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-family: "Bungee Inline", sans-serif;
}

.footer p {
  margin: 0;
}
/* Account_page */
.account__container {
  position: relative;
  flex-direction: row;
  top: 80px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--light);
  text-align: start;
  width: 100%;
}

.sub__container {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.account__nav {
  flex-basis: 20%;
}

.account__nav ul {
  padding-left: 0;
  margin-right: 30px;
}

.active-onglet {
  background-color: var(--red);
}

.account__nav li {
  padding: 15px;
  border-bottom: 3px solid var(--red);
  border-right: 3px solid var(--red);
  border-left: 3px solid var(--red);
  cursor: pointer;
}

.account__nav li:first-child {
  border-top: solid var(--red);
  margin-top: 10px;
}

.account__nav li::selection {
  color: var(--wooburn);
}
.tab__content {
  font-size: 0.8em;
  padding: 20px;
  margin-top: 19px;
  border: 3px solid var(--red);
  flex-basis: 50%;
  display: none;
  background-color: var(--primary);
  height: 100%;
}

div#admin-video-tab-content {
  flex-basis: 70%;
}

.tab__content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tab__content:not(.active-tab) {
  display: block;
  /* ... autres styles ... */
}

.tab__content h2 {
  margin-top: 3px;
  border-bottom: 3px solid var(--red);
}

.tab__content input,
button#openIconModal {
  color: var(--primary);
  background-color: var(--light);
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial;
  font-size: 1em;
  padding: 5px 25px;
  width: auto;
  text-align: center;
}

button#openIconModal:hover,
.tab__content input:hover {
  background-color: var(--red);
  color: var(--light);
}

textarea {
  width: 100%;
}

.choose_picture {
  max-width: 200px;
  min-width: 200px;
  border-radius: 200px;
  display: block;
  margin: auto;
}

.text_modify {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

/* Admin_page */

.admin__content table {
  width: 100%;
}

.admin__content table tr {
  align-items: center;
}

.admin__content table tr td {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.admin__content table tr td a img {
  max-width: 2.4em;
  fill: var(--red);
}

.admin__content input {
  padding: 2px;
  width: 100%;
  text-align: center;
}

/* Element prévisualisation vidéo/image */

.prev {
  display: none;
}

.prev li {
  min-height: 166px;
  background-color: var(--primary);
  justify-content: center;
  display: flex;
  min-height: 180px;
  max-height: 180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
}

.prev p {
  margin: 0;
  border-bottom: 2px solid var(--red);
  text-align: center;
  width: 100%;
}

.prev li img {
  position: relative;
  top: 10px;
}

.prev li:first-child {
  min-height: 180px;
}

.prev li:first-child img {
  max-height: 150px;
  max-width: 100%;
}

.prev li:last-child {
  min-height: 180px;
}

.prev li:last-child img {
  max-height: 140px;
  max-width: 100%;
}
select {
  text-align: center;
  width: 60%;
  margin: auto;
}

#progressBarContainer {
  margin: 20px 0;
}

progress {
  width: 100%;
  height: 20px;
}

label, select {
  margin-right: 10px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* MODALE */

.modal {
  display: none;
  position: fixed;
  top: 100px;
}

.modal_radio {
  display: none;
}
.modal-content {
  background-color: var(--primary);
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  overflow: auto;
  border: groove;
}

.icon_container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.icon_container img {
  width: 100%;
}
.modal-content h2 {
  margin: 0;
  position: relative;
  z-index: 2;
}
.close {
  position: absolute;
  right: 5%;
  cursor: pointer;
  width: 35px;
  z-index: 3;
}

.close img {
  width: 100%;
}

.icon-preview {
  width: 100px;
  height: 100px;
  margin: 1px;
  cursor: pointer;
}

img.icon-preview.icon-selected {
  border-radius: 100px;
  display: inline-flex;
  margin: 1px;
  border: 6px solid var(--light);
  width: 88.8px;
  height: 88.8px;
}

.button_modal {
  margin: 0;
  color: var(--primary);
  background-color: var(--light);
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial;
  font-size: 1em;
  padding: 5px 5px;
  width: auto;
  text-align: center;
  margin-top: 10px;
  position: relative;
  z-index: 2; /* Plus élevé que les icônes */
}

.body-no-scroll {
  overflow: hidden;
}

div#iconContainer {
  max-height: 60vh;
  overflow: auto;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .admin__nav,.prev {
    text-align: center;
    margin-right: 3% !important;
    margin-left: 3% !important;
  }

  .admin__container {
    display: block;
    padding: 20px;
  }admin__content

  .admin__content {
    margin-right: 3% !important;
    margin-left: 3% !important;
    padding: 15px !important;
  }
  table {
    font-size: 1em;
  }

  .tab__content {
    margin-right: 3%;
    margin-left: 3%;
  }

  .account__nav {
    margin-left: 0% !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .admin__nav {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .admin__container {
    display: block;
  }

  .admin__content{
    padding-right: 0;
    padding-left:0;
  }

  table {
    font-size: 0.8em !important;
  }
}

/* ///////////////////////////////////////////////////////////// */

/* Media querie d'un ecran d'ordi */

@media screen and (min-width: 1400px) {
  #watched {
    margin: 0;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
  #watched,
  #serie {
    font-size: 2em;
  }

  #watched {
    margin-top: -4px;
  }

  .text-video {
    top: 70%;
    left: 15%;
    transform: translate(-23%, -60%);
    font-size: 3em;
  }

  /* ERROR 404 */

  .error_acceuil {
    top: 70%;
    font-size: 3em;
    left: 74%;
  }
  /* header */
  .main-nav div ul {
    display: none;
  }

  /* box */
  .box-div {
    flex-basis: calc(20% - 10px);
  }
}

/* Media querie d'une tablette */
@media screen and (min-width: 750px) and (max-width: 1100px) {
  #watched,
  #serie {
    font-size: 1.8em;
  }

  .lock {
    overflow: hidden;
  }
  .text-video {
    top: 70%;
    /* Position verticale au milieu */
    left: 22%;
    /* Position horizontale au milieu */
    transform: translate(-23%, -60%);
    /* Centrez horizontalement et verticalement */
    font-size: 2.5em;
  }

  .error_acceuil {
    left: 68%;
  }

  /* header */

  .main-nav div ul {
    display: none;
  }

  /* box */
  .box-div{
    flex-basis: calc(20% - 10px);
  }

  .account__nav {
    margin-left: 3%;
  }
  .tab__content {
    margin-right: 3%;
  }

  
  /* footer */
}

@media screen and (min-width: 600px) and (max-width: 750px) {
  #watched,
  #serie {
    font-size: 1.8em;
  }

  #watched {
    margin-top: -4px;
    margin-bottom: -3px;
  }

  .text-video {
    top: 70%;
    left: 22%;
    transform: translate(-23%, -60%);
    font-size: 1.95em;
  }

  .error_acceuil {
    font-size: 2.2em;
    left: 62%;
  }

  /* header */

  .main-nav div ul {
    display: none;
  }
  .navbar {
    right: -750px;
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav-link {
    font-size: 1.4em;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .change {
    right: 0px;
    overflow: hidden;
  }

  .nav-list {
    font-size: 25px;
    margin-bottom: 500px;
  }

  /* box */
  .box-div {
    flex-basis: calc(25% - 10px);
  }

  /* search */

  .search_nav {
    display: none;
  }

  .search_phone {
    display: block;
    position: fixed;
    top: 20px;
    right: 90px;
    width: 40px !important;
    z-index: 3;
  }
  /* footer */
}
/* Media querie d'un téléphone */
@media screen and (min-width: 450px) and (max-width: 600px) {
  #watched,
  #serie {
    font-size: 1.5em;
  }

  #watched {
    margin-top: -4px;
    margin-bottom: -2px;
  }

  /* box */
  .box-div {
    flex-basis: calc(33.33% - 10px);
  }
  .text-video {
    top: 70%;
    left: 20%;
    transform: translate(-23%, -60%);
    font-size: 1.5em;
  }

  .error_acceuil {
    left: 65%;
  }

  /* header */
  .navbar {
    right: -750px;
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: none;
  }

  .nav-item {
    margin: 20px;
  }

  .nav-link {
    font-size: 0.8em;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .change {
    right: 0px;
  }

  .nav-list {
    font-size: 1.5em;
    margin-bottom: 500px;
  }

  .main-nav div ul {
    display: none;
  }
  /* Search */

  .search_nav {
    display: none;
  }

  .search_phone {
    display: block;
    position: fixed;
    top: 20px;
    right: 90px;
    width: 40px !important;
    z-index: 3;
  }

  /* footer */

  /* MENU ADMIN */

  .account__container {
    margin: auto;
    height: auto;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  .sub__container {
    flex-direction: column;
    font-size: 20px;
    min-width: 100%;
  }

  .account__nav {
    margin-right: 3%;
    margin-left: 3%;
  }

  .account__nav ul {
    list-style: none;
    min-width: 100%;
  }

  .account__nav li:not(:first-child) {
    display: none;
  }

  .account__nav li:first-child:hover ~ li {
    display: block;
  }

  .account__nav ul:hover li {
    display: block;
  }
  .account__nav li {
    justify-content: center;
    cursor: pointer; /* Ajoutez un curseur pointer pour indiquer que l'élément est cliquable */
  }

  .tab__content {
    font-size: 0.8em;
    display: none;
    margin-right: 3%;
    margin-left: 3%;
  }
  .tab__content input {
    text-align: center;
    padding: 0;
  }
  textarea {
    width: 100%;
  }
  /* ICI POUR L'ADMIN PAGE */
  .small-screen {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #watched,
  #serie {
    font-size: 1.5em;
  }

  #watched {
    margin-top: -2px;
  }

  .text-video {
    top: 70%;
    /* Position verticale au milieu */
    left: 25%;
    /* Position horizontale au milieu */
    transform: translate(-23%, -60%);
    /* Centrez horizontalement et verticalement */
    font-size: 1.1em;
  }

  .preview {
    margin-top: 60px;
  }
  .error_acceuil {
    left: 62%;
  }

  /* box */
  .box-div {
    flex-basis: calc(33.33% - 10px);
  }
  header {
    height: 60px;
  }

  .title {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 1.3em;
  }
  /* header */

  .navbar {
    right: -750px;
    width: 100%;
    height: calc(100%-5em);
    border: none;
    top: 60px;
  }

  .nav-item {
    margin: 10px;
  }

  .nav-link {
    font-size: 0.8em;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .change {
    right: 0px;
  }

  .nav-list {
    font-size: 25px;
    margin-bottom: 500px;
  }

  .main-nav div ul {
    display: none;
  }
  /* Search */

  .search_nav {
    display: none;
  }

  .hamburger-menu {
    top: 14px;
    right: 20px;
  }
  .search_phone {
    display: block;
    position: fixed;
    top: 11px;
    right: 70px;
    width: 40px !important;
    z-index: 3;
  }
  /* Footer */

  /* MENU ADMIN */
  .account__container {
    text-align: center;
  }

  .sub__container {
    flex-direction: column;
    font-size: 20px;
    min-width: 100%;
  }

  .account__nav {
    margin-right: 3%;
    margin-left: 3%;
  }

  .account__nav ul {
    list-style: none;
    min-width: 100%;
  }

  .account__nav li:not(:first-child) {
    display: none;
  }

  .account__nav li:first-child:hover ~ li {
    display: block;
  }

  .account__nav ul:hover li {
    display: block;
  }
  .account__nav li {
    justify-content: center;
    cursor: pointer; /* Ajoutez un curseur pointer pour indiquer que l'élément est cliquable */
  }

  .tab__content {
    font-size: 0.8em;
    display: none;
    margin-right: 3%;
    margin-left: 3%;
  }
  .tab__content input {
    text-align: center;
    padding: 0;
  }
  textarea {
    width: 100%;
  }
  /* ICI POUR L'ADMIN PAGE */
  .small-screen {
    display: none;
  }

  /* MODALE */

  .modal-content {
    padding: 0;
  }
}
